        <!-- page header container -->
        <div class="row">
          <div class="col-sm-12">
            <div class="page-header">

              <!-- page title -->
              <h1 class="pull-left">
                <i class="icon-th sm"></i>
                <span>Grid</span>
              </h1>

              <!-- breadcrumbs -->
              <div class="pull-right">
                <ul class="breadcrumb">
                  <li>
                    <a href="index.html">
                      <i class="icon-bar-chart"></i>
                    </a>
                  </li>
                  <li class="separator">
                    <i class="icon-angle-right"></i>
                  </li>
                  <li class="active">Grid</li>
                </ul>
              </div>

            </div>
          </div>
          <!-- content of page -->
        </div>

