<!-- todo: http://stackoverflow.com/questions/6571753/rails-3-1-asset-pipeline-how-to-load-controller-specific-scripts -->
<% javascript 'accounts_controller' %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-content box-padding'>

        <% if @user.student == nil and @user.school == nil then %>

            <div class='fuelux'>
              <div class='wizard'>
                <ul class='steps'>
                  <li class='active' data-target='#step1'>
                    <span class='step'>1</span>
                  </li>
                  <li data-target='#step2'>
                    <span class='step'>2</span>
                  </li>
                  <li data-target='#step3'>
                    <span class='step'>3</span>
                  </li>
                </ul>
                <div class='actions'>
                  <button class='btn btn-xs btn-prev'><i class='icon-arrow-left'></i>Prev
                  </button>
                  <button class='btn btn-xs btn-success btn-next' data-last='Finish'>
                    Next
                    <i class='icon-arrow-right'></i>
                  </button>
                </div>
              </div>
              <div class='step-content'>
                <hr class='hr-normal'>

                <%= form_for @user, url: {action: 'update'} do |form| %>

                    <div class='step-pane active' id='step1'>
                      <div class='form-group'>
                        <label class='control-label' for='inputText'>
                          Select account type:
                        </label>

                        <div class='controls'>
                          <div class="btn-group" data-toggle="radio">
                            <label class="radio accountSelector">
                              <input type="radio" name="options" id="option1"> Student
                            </label>
                            <label class="radio accountSelector">
                              <input type="radio" name="options" id="option2"> School
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='step-pane' id='step2'>
                      <div class='form-group'>
                        <label class='control-label' for='inputPassword'>Password field</label>

                        <div class='controls'>
                          <input class='form-control' id='inputPassword' placeholder='Password field' type='password'>
                        </div>
                      </div>
                    </div>

                    <div class='step-pane' id='step3'>
                      <div class='form-group'>
                        <label class='control-label' for='inputTextArea'>Textarea</label>

                        <div class='controls'>
                          <textarea class='form-control' id='inputTextArea' placeholder='Textarea' rows='3'></textarea>
                        </div>
                      </div>
                    </div>
                    <div class='step-pane' id='step4'>
                      <div class='form-group'>
                        <div class='controls'>
                          <label class='checkbox-inline'>
                            <input id='inlineCheckbox1' type='checkbox' value='option1'>
                            Inline 1
                          </label>
                          <label class='checkbox-inline'>
                            <input id='inlineCheckbox2' type='checkbox' value='option2'>
                            Inline 2
                          </label>
                          <label class='checkbox-inline'>
                            <input id='inlineCheckbox3' type='checkbox' value='option3'>
                            Inline 3
                          </label>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
